.background {
    -fx-background-image: url("../images/background4.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}

.scroll-pane {
    -fx-background-color: transparent;
}

.scroll-pane .viewport {
    -fx-background-color: transparent;
}

.button {
    -fx-background-color: #FF9800;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.button:hover {
    -fx-background-color: #F57C00;
}

.text-field {
    -fx-background-radius: 5;
    -fx-border-color: #BBDEFB;
    -fx-border-radius: 5;
}

.dialog-box {
    -fx-padding: 10;
    -fx-margin: 0 0 15 0;
}

.label {
    -fx-padding: 10 15 10 15;
    -fx-background-radius: 15;
    -fx-min-height: 40;
}

.user-label {
    -fx-background-color: #D1FFD6;
    -fx-background-radius: 15 15 0 15;
}

.yuzu-label {
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 15 15 15 0;
}

.scroll-pane, .scroll-pane .viewport {
    -fx-background-color: transparent;
}